body {
    font-family: Arial, sans-serif;
    /* height: 100vh; */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    height: 80%;
  }
  
  .image-section {
    flex: 1;
  }
  
  .form-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .toggle-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .toggle-buttons span {
    margin: 0 10px;
    padding: 0px;
    color: grey;
    font-weight: 900;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
  
  }
  
  .toggle-buttons span::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #333133;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.5s ease-in-out;
  }
  
  .toggle-buttons span:hover::after,
  .toggle-buttons span.active::after {
    width: 100%;
  }
  
  .toggle-buttons span.active {
    color: #333133;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    margin-bottom: 10px;
    padding: 8px 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #333133;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Media query for mobile devices */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      height: auto;
    }
  
    .image-section {
      order: -1;
      width: 100%;
    }
  
    .form-section {
      
      width: 100%;
    }
  }