body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f7f6;
}

.carousel {
  display: flex;
  align-items: center;
  padding: 20px;
}

.carousel-button {
  background-color: transparent;
  color: #ccc;
  border: 2px solid #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.carousel-button:hover {
  background-color: #ada596;
  border: none;
  color: white;
  transform: scale(1.2);
}

.carousel-items {
  display: flex;
  overflow-x: hidden;
  width: 100%;
}

.carousel-item {
  flex: 0 0 auto;
  width: calc(100% / 3 - 20px);
  margin-right: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-name {
  font-size: 20px;
}

.color-slider {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.color-swatch {
  width: 30px;
  height: 30px;
  /* border-radius: 50%; */
  margin: 0 5px;
  cursor: pointer;
  border: 1.5px solid #333133;
}

.add-to-bag {
  padding: 10px;
  background-color: transparent;
  color: #333133;
  border: #333133 2px solid;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 30px;
}

.add-to-bag:hover {
  background-color: #333133;
  color: white;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .carousel-items {
    flex-direction: column;
    align-items: center;
  }

  .carousel-item {
    width: 90%;
    margin-bottom: 20px;
  }

  .color-slider {
    justify-content: space-around;
  }
}