.testimonials{
  margin: 80px;
  padding: 0 80px;
  position: relative;
}
.next-btn, .back-btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 10px;
  width: 70px;
  border-radius: 50%;
  cursor: pointer;
  background: #ffffff;

}
.back-btn{
  right: auto;
  left: 0;
}
.slider{
  overflow: hidden;
}
.slider ul{
  display: flex;
  width: 200%;
  overflow-x: hidden;
  transition: 0.5s;
  
}
.slider ul li{
  list-style: none;
  width: 50%;
  padding: 20px;    
}
.slide{
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
  padding: 40px;
  border-radius: 10px;
  color: #676767;
  line-height: 1.4;
  
}
.slide img{
  width: 100px;
  border-radius: 10px;
  margin-right: 10px;
  border: 2px solid #45a4f1;
}
.user-info{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 15px;
}
.user-info h3{
  color: #45a4f1;
}

/* ----- media query ---------*/

@media (max-width: 732px){
  .testimonials{
      padding: 0 40px;
  }
  .next-btn, .back-btn{
      padding: 10px;
      width: 40px;
  }
  .slider ul li{
      padding: 10px;
  }
  .slide{
      padding: 10px;
  }
  .slide img{
      width: 50px;
      border: 2px solid #45a4f1;
  }
}
@media (max-width: 490px){
  .user-info{
      display: block;
      margin-bottom: 10px;
      font-size: 14;
  }
  .user-info h3{
      font-size: 18px;

  }
}